/* GENERAL SETTINGS */

* {font-family: Arial, Helvetica, sans-serif;}

html {font-size: 16px;}

p a {font-size: 1rem;}

main p {line-height: 1.5;}

li {margin: 0.5em 0;}

header  { grid-area: header;}
nav     { grid-area: nav; }
main    { grid-area: main; }
footer  { grid-area: footer; }
.sidel  { grid-area: sidel; }
.sider  { grid-area: sider; }

header,
nav,
main,
footer,
.sidel,
.sider {
  padding: 1em;
}

header, nav, footer {
    text-align: center;
}

/* More space between the links */

nav p a, footer p a {
    margin-left: 0.4em;
    margin-right: 0.4em;
}

/* More space! */

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    color: #000f80;
}

p {
    margin-top: 1em;
}

ul {
    margin-top: 1em;
    margin-bottom: 2em;
}

/* Special class to align center */

h1.center, h2.center, h3.center,
h4.center, h5.center, h6.center,
p.center {text-align: center;}

/* Styling the header */

/* remove all text decoration from the a tags in the header */
header a {
    text-decoration: none;
}

/* hack to remove te spaces between the spans */
.mxmmz {
    font-size: 0;
}

.mxmmz span {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000f80;
}


/* don't display the hidden characters / margins */
.mxmmz .hide {
    display: none;
}

/* On hover: display all the hidden stuff */

.mxmmz:hover .hide {
    display: inline;
}

.mxmmz:hover .spaceleft {
    margin-left: 0.3em;
}

.mxmmz:hover .subscript {
    position: relative;
    top: 0.18em;
}

/* Blockquote inspired by: https://codepen.io/jimmycow/pen/LmjVaz */

blockquote {
    font-size: 1.5rem;
    width: 90%;
    margin: 2em auto;
    font-style: italic;
    color: #334bff;
    padding: 1.2em 2em 1.2em 4em;
    border-left: 8px solid #0015b3;
    line-height: 1.25;
    position: relative;
    background: #EDEDED;

}

blockquote::before{
  content: "\201C";
  color:#0015b3;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color: #0015b3;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.imgtxt-container .container-img {
    margin-right: 2em;
    margin-bottom: 1em;
    width: auto;
    float: left;
}


.imgtxt-container .container-svg {
    margin-right: 2em;
    margin-bottom: 1em;
    width: 30ch;
    float: left;
}

.imgtxt-container .container-txt {
    display: inline;
}

/* SMALL SCREEN SETTINGS */

body {
    min-height: 100vh;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
	"header"
	"nav"
	"main"
        "footer";
}

.sider {display: none;}
.sidel {display: none;}

/* BIG SCREEN SETTINGS */

@media (min-width: 40em){
    html {font-size: 18px;}

    body {
    min-width: 100vw;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: auto minmax(auto, 80ch) auto;
    grid-template-areas:
	"header  header header"
	"nav     nav    nav"
	"sidel   main   sider"
	"footer  footer footer";
    }
}
